
/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.card-avatar{
    width:200px;
    height:200px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 

}

.main{
  width: 100%;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
  min-width: 33%;
  /* background-color: #282525; */
}


@media (max-width: 40rem) {
  .cards_item {
    width: 100%;
  }
}

@media (max-width: 56rem) {
  .cards_item {
    width: 100%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #282525 60%, #3f3f3f 100%);
  width: 100%;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
