.nav{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background-color: pink;
}
.nav h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(156, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: serif;
    z-index: 100;
}

@media  (max-width: 768px) {
    .nav{
        padding: 0 15px;
    }
    
}