/* Responsive Table */

.table-container {
  margin-top: 100px;
}

table {
  height: fit-content;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  margin: 0 0 1.5em 0;
}

table thead {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: #666;
  text-align: left;
  text-shadow: 0 1px 0 #fff;
}

table th,
tr {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  background-color: #f9f9f9;
}
